.obsidian/

temp/
build/
.DS_Store
*.log
.vagrant
.idea/

obj/
*.o
*.d
settings.json
*.out
*.img
*.data
*.mbr
*.elf
.VSCodeCounter/

# MNIST 等数据集缓存
mnist/
.ipynb_checkpoints/

AI/data/
AI/cpp/build/
AI/cpp/build_release/
AI/cpp/cmake-build-debug/
AI/codes/llm-train-cpp/build-cuda-check/
AI/codes/llm-train-cpp/cmake-build-*
AI/codes/llm-train-cpp/build-*
AI/codes/llm-train-cpp/default.profraw

AI/codes/llm-inference-cpp/build-mac/

AI/chapter-03/data/*.pt
AI/chapter-03/data/*.csv
AI/chapter-03/gpt2/
AI/chapter-03/sms_spam_collection/
AI/chapter-03/sms_spam_collection.zip
AI/chapter-03/instruction-data.json
AI/chapter-03/gpt2-medium355M-sft.pth
AI/chapter-03/instruction-data-with-response.json

AI/chapter-14/mac-server/localai/
AI/chapter-14/mac-server/results/
AI/chapter-14/android/downloads/
AI/chapter-14/android/results/
AI/chapter-14/android/dist/
AI/chapter-14/android/src/
data/.local_user_id

.venv/
__pycache__/


.claude/
.codex/
.trae/
openspec/