.obsidian/

temp/
build/
.DS_Store
*.log
.vagrant
.idea/

obj/
*.o
*.d
settings.json
*.out
*.img
*.data
*.mbr
*.elf
.VSCodeCounter/

# MNIST 等数据集缓存
mnist/
.ipynb_checkpoints/

AI/data/
AI/cpp/build/
AI/cpp/build_release/
AI/cpp/cmake-build-debug/

.venv/